{% extends 'auth/auth-base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content%}
<div class="container">
  <div class="row">

    <div class="col-md-3"> </div>

    <div class="col-md-6">
      <!-- Flash message -->
      {% for message in get_flashed_messages() %}
          <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
          </div>
      {% endfor %}
      <!-- Login form  -->
        <div class="row">
            <div class="col-md-12 pitchit-form">
                <h3>Log in</h3>
                <h5>Fill in the form to log in</h5>
                <hr>
                {{ wtf.quick_form(login_form) }}
                <br>
                <p>New User?<a href="{{url_for('auth.register')}}"> Sign up here</a></p>
                <p>Forgot Password? <a href="{{url_for('auth.reset_password')}}">Reset Password</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-3"> </div>
  </div>
</div>
{%endblock%}
