<head>
<div class="container-full" style="margin 0px; padding 0px;">
</div>
<div class= "container" style="margin 0px auto">
  <!--End of HEADER -->
  <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/scripts.js"></script>
    <title>Family</title>
  </head>
  <body>
    <h1>Questions</h1>
    <h1>Fill the answers</h1>
         <div id="blanks">
            <form>
               <div class="question">
                  <label for="person1">Name</label>
                  <input id="person1" class="form-control" type="text">
               </div>
               <br>
               <div class="question">
                  <label for="level">Gender</label>
                  <input id="level" class="form-control" type="text">
               </div>
               <br>

             </form>
               <button type="submit">submit</button>
               <h1>Question</h1>
               <h1>Fill the answers</h1>
                    <div id="blanks">
                      <form>
                          <div class="question">
                             <label for="person1">Relation to the family</label>
                             <input id="person1" class="form-control" type="text">
                          </div>
  </body>
  </html>
