{% extends 'base.html'%}

{% block content %}
<div class="container-fluid" class=" places">
    <h1> Best places to buy gifts in Nairobi</h1>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='keller.js') }}"></script>
    <input type="text" id="query" placeholder="Search for something...">
    <button id="search">Search</button>

    <div id="image"></div>
</div>
<div>
    <h1>House of leather</h1>
    <a href="http://www.houseofleatherkenya.co.ke/">Main website</a>
    <a href="http://www.houseofleatherkenya.co.ke/branches-locations/">Branch Locations</a>
    <h1>
        Best for trinkets and small non-electronic gadgets
    </h1>
</div>
<div>
    <h1>Pablo GiftShop</h1>
    <a href="https://www.pablogiftshop.com/">Main website</a>
    <a href="http://www.houseofleatherkenya.co.ke/branches-locations/">Shop Location</a>
    <h1>
       Best for men's Gifts
    </h1>
</div>

<div>
    <h1>Blueline Gifts</h1>
    <a href="http://bkenya.com/">Main website</a>
    <a href="https://www.google.com/search?q=bkenya+gift+shop&npsic=0&rflfq=1&rlha=0&rllag=-1311662,36792179,4524&tbm=lcl&ved=2ahUKEwi537zZnJ_eAhWPbsAKHYTSA_gQjGp6BAgBED0&tbs=lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:10&rldoc=1#rlfi=hd:;si:979860421805017699;mv:!3m12!1m3!1d59499.363022198086!2d36.786535650000005!3d-1.3045166!2m3!1f0!2f0!3f0!3m2!1i131!2i179!4f13.1">Shop Location</a>
    <h1>
        Best for corporate gifts and African artifacts
    </h1>
</div>
{% endblock %}
